<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd">
                                                    <!--xsd约束文件格式-->
<!--<bean id="someService" class="org.example.service.SomeServiceImpl"/>-->
<!--<bean id="string" class="java.lang.String"/>-->
<!--   <context:component-scan base-package="org.example.ba01"/>-->
    <bean id="someService" class="org.example.service.SomeServiceImpl"/>
    <bean id="myAspect" class="org.example.ba01.MyAspect"/>

    <aop:aspectj-autoproxy/>
</beans>